*{
    font-family: Arial, Helvetica, sans-serif;
}
.BlogWriter{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #333;
    color:white;
    text-align: center;
    z-index: 1000;
}
.BlogWriter textarea{
    resize:none;
    height: 60vh;
}
.BlogWriter input[type=text], .BlogWriter textarea{
    width:90%;
}

.BlogReader{
    background-color: rgb(212, 216, 212);
    border: 1px solid black;
    margin: 5px;
    max-width: 80vmin;
}
.BlogReader h1{
    background-color: rgb(38, 203, 13);
    color:white;
    margin:0;
    padding: 5px;
    box-sizing: border-box;
}
.BlogPost h2{
    background-color: rgb(96, 86, 241);
    color:white;
    margin:0;
    padding: 5px;
    box-sizing: border-box;
}
.BlogPost div{
    background-color: #eee;
    color:#333;
    padding: 10px;
}
.BlogPost{
    width:80vmin;
    margin: 5px;
}
.BlogTitle{
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

a[href="#BlogPost"]{
    color:inherit;
    text-decoration: none;
}

.BlogTitle:hover{
    background-color: white;
}
.pre{
    white-space: pre-line;
    padding:10px;
}